/BikeMan/*
/BikeMan/*/

!.gitignore
!/BikeMan/Assets/
!/BikeMan/ProjectSettings/

!/BikeMan/Packages

!/BikeMan/BikeMan.sln
!/BikeMan/supersocket.cmd
!/BikeMan/Assembly-CSharp.csproj
!/BikeMan/Assembly-CSharp-Editor.csproj
!/BikeMan/packages.config


/MinimalController/.vs
/MinimalController/USB2550HidTest/.idea
/MinimalController/USB2550HidTest/.vs
/MinimalController/USB2550HidTest/USB2550HidTest/.vs